* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(foto/backgroun.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 440px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(225, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
}

.card h2 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}

.card p {
  font-size: 18px;
  margin: 10px auto;
  max-width: 330px;
}

.card .links img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 5px;
  transition: background 0.5s;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  background: #008518;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 30px;
  margin: 30px 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background: #ffffff;
  color: #008518;
}

.socials {
  margin-top: 20px;
}

.socials a {
  margin: 0 15px;
  font-size: 24px;
  color: #b0bec5;
  transition: transform 0.3s ease, color 0.3s ease;
}

.socials a:hover {
  color: #90caf9;
  transform: scale(1.2);
}